.main {
  height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stock-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.submit-button {
  margin-top: 16px;
}